@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Montserrat";
}

#navbar {
	width: 100%;
	padding-bottom: 25px;
	padding-top: 25px;
	padding-left: 280px;
  	text-align: center;
	background-color:rgb(58, 0, 112);
  }
  
  #navbar ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
  }
  
  #navbar li {
	margin-right: 60x;
	margin-left: 60px;
  }
  
  #navbar a {
	display: block;

	padding: 10px 12px;
	text-decoration: none;
	color:white;
	font-weight: bold;
	border-radius: 5px;
	transition: background-color 0.3s;
  }
  
  #navbar a:hover {
	background-color: #ccc;
	color:blueviolet;
 }
   
a {
  color: #333;
  text-decoration: none;
  padding: 5px 10px;
}

a:hover {
  background-color: #333;
  color: #fff;
}

body {
	background-color:#DE9DFF;
}
#linea_nav{
    width: 100%;
    position: absolute;
    left: 0px;
    margin-top: 0px;
    
    height: 4px;
    background-color:white;
    z-index: -2px;
    display:inline-block;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.container {
	width: 400px;
	margin-left: 450px;
	margin-top: 200px;
	position:absolute;
	
	display: flex;
	align-items: center;
	justify-content: center;
	height: 10vh;
	top:0px;
	
}


.titulo{
	color: black;
   text-align: center;
   margin-top: 30px;
   margin-left: 55px;
   font-family: "Montserrat";
   font-size: 50px;
}

.barra a{
	position: absolute;
	bottom: 20%;
	left: 50%;
	transform: translate(-50%);
	color: black;
    font-family: "Montserrat";
    font-size: 25px;
    opacity: 0;
	animation-name: fadeIn2;
	animation-duration: 2s;
	animation-delay: 2s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
}
img {
	width: 500px;
	height: 300px;
	opacity: 0;
	animation-name: fadeIn;
	animation-duration: 2s;
	animation-delay: 0.5s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
}

@keyframes fadeIn {
	from {
		transform: translateY(-80%);
		opacity: 0;
	}
	to {
		transform: translateY(45%);
		opacity: 1;
	}
}
@keyframes fadeIn2 {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}